header {
  box-sizing: border-box;
}
header h1 {
  padding: 22px 0 17px;
  color: #c1a292;
  font-size: 3rem;
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
}
header nav {
  padding: 5px 0 20px;
}
body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1599488059863-ac95a7f49193?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  object-fit: contain;
}
ul {
  list-style-type: none;
}
.classli {
  box-shadow: 4px 5px 20px 0px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  width: 400px;
  height: 50px;
  border: 1px black;
  background-color: antiquewhite;
  margin: auto;

  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
#btn {
  background-color: antiquewhite;
  width: 88px;
}
#todolist {
  width: 200px;
}
.classbtn3 {
  background-color: #f9d6a7;
  width: 88px;
}
.divbtn3 {
  text-align: right;
  padding: 5px;
  padding-right: 0;
}
.lispan:hover {
  text-decoration: line-through;
}
