header {
  box-sizing: border-box;
}
header h1 {
  padding: 22px 0 17px;
  color: #a1887b;
  font-size: 3rem;
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
}
header nav {
  padding: 5px 0 20px;
}
body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1599488059863-ac95a7f49193?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
  object-fit: contain;
}
ul {
  list-style-type: none;
}
.classli {
  box-shadow: 4px 5px 20px 0px;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  width: 400px;
  height: 50px;
  border: 1px black;
  background-color: antiquewhite;
  margin-left: 35%;
  margin-bottom: 30px;
}
